@font-face {
  font-family: 'SfDistant';
  src: url('./SfDistantGalaxyAltoutline-e2Bp.ttf');
}

@font-face {
  font-family: 'starjedi';
  src: url('./Starjedi.ttf');
}

@font-face {
  font-family: 'poppinsBold';
  src: url('./Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppinsRegular';
  src: url('./Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppinsBlack';
  src: url('./Poppins-Black.ttf');
}
