section{
  background-image: url('./../../../assets/backgrounds/bg_3/bg_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

h1{
  font-family: 'starjedi';
  font-size: 60px;
  align-self: center;
  margin-top: 2.5%;
}

.text{
height: 10%;
width: 100%;
text-align: center;

}

.column-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height:100%;
  position: relative;
}

.side-column{
  flex: 40%;
  max-width: 40%;
  height: 100%;
}

.middle-column{
  flex: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-self: center;
  span{
    text-align: center;
    font-family: 'SfDistant';
    font-size: 150px;
  }
}

.invisible{
  display: none;
}

.winner-left{
  animation: move-left-to-center 2s linear;
  animation-fill-mode: forwards;
}

@-webkit-keyframes move-left-to-center {
  0%{
    transform: translateX(0%);
  }
  100% {
    transform: translateX(75%);
  }
}
@keyframes move-left-to-center {
  0%{
    transform: translateX(0%);
  }
  100% {
    transform: translateX(75%);
  }
}


.winner-right{
  animation: move-right-to-center 2s linear;
  animation-fill-mode: forwards;
}

@-webkit-keyframes move-right-to-center {
  0%{
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-70%);
  }
}
@keyframes move-right-to-center {
  0%{
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-70%);
  }
}

@media (max-width: 992px){

 h1{
  font-size: 30px;
  margin-top: 1.25%;
 }

 .side-column
  {
    flex:40%;
    max-width: 100%;
    height: 40%;
  }

 .middle-column{
  flex: 5%;
  max-width: 100%;
  span{
    font-size: 30px;
  }
}
 .column-container{
   flex-direction: column;
   height: 100%;
 }
 .text{
   height: 10%;
 }


 @-webkit-keyframes move-right-to-center {
  0%{
    transform: translateY(0%);
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    transform: translateY(-50%);
  }
}
@keyframes move-right-to-center {
  0%{
    transform: translateX(0);
    transform: translateY(0%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(-50%);
  }
}


@-webkit-keyframes move-left-to-center {
  0%{
    transform: translateY(0%);
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    transform: translateY(50%);
  }
}
@keyframes move-left-to-center {
  0%{
    transform: translateX(0);
    transform: translateY(0%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(50%);
  }
}



}


@media (max-width: 600px){
  section{
    padding: 0;
  }

  h1{
    font-size: 15px;
    margin-top: .25%;
  }

  .text{
    height: 2.5%;
  }

  .column-container{
    height: 97.5%;
  }
  .side-column
  {
    flex: 47.5%;
    max-width: 100%;
    height: 45%;
  }
  .middle-column{
    flex: 2.5%;
    max-width: 100%;
    font-size: 50px;
    height: 2.5%;
    span{
      font-size: 50px;
    }
  }
 }
