
swiper{
  width: 100%;
  max-width: 40rem;
  flex: 1;
  overflow: hidden;
}
img{
 height: 80%;
 max-width: 100%;
}
.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  height: 50%;
  width: 50%;
  width:25rem;
  height: 25rem;
  border-radius: 100%;
  background-color: var(--color-orange);
}
.button-container{
  width: 100%;
  text-align: end;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  button{
     margin-inline: 1rem;
     background-image: url('./../../../../assets/icons/arrow_circle/arrow_circle.png');
     background-repeat: no-repeat;
     background-size: cover;
     width: 3rem;
     height: 3rem;
     align-self: flex-end;
    }
}

.container{
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  color: var(--color-white);
}

@media (max-device-height: 800px) {
  .container{
    width: 100% !important;
    height: 100vh !important;
    align-items: center !important;
    justify-content: center !important;
  }

  sweeper{
    width: 100% !important;
    max-width: 100% !important;
  }

  .circle{
    max-height: 17rem;
    max-width: 17rem;

  }

  .button-container{
  text-align: center;
  button{
    margin-inline: .5rem;

   }
  }
}
.pagination {
width: fit-content;
margin-right: 1.5rem;
}


::ng-deep .bullet-active
{
  width: 4px;
	height: 4px;
	background-color: var(--color-white) !important;
  box-sizing: border-box;
  padding: 2px;
  outline-offset: 3px;
  outline: .75px solid var(--color-white);
  opacity: 1;
}

::ng-deep .bullet
{
  width: 4px;
	height: 4px;
  background-color: var(--color-white) !important;
  opacity: .7;
}
